{% extends 'layouts/base.html' %} 
{% block content %}

<style>
table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    border: 1px solid rgb(255, 123, 0);
}

th {
    background: #ffbe30;
}

td {
    background: #ffd986;
}

.presente {
    background-color: var(--hovercolor);
    border-left: 3px solid #90dddd;
}
</style>

<div style="padding-left: 12em; margin-top: 9px;">
    <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=88.5% src="https://i.postimg.cc/BvpB42vF/Logo-Eco-Mind-Barra-Secundaria.png"
        border="0px">
</div>

<div style="padding-top:2em;">
    <div>
        <h2 style="text-align:center;"><b>
                <font face=Poppins> ¡Bienvenid@ a <b class="color1"> Clasificado por etiqueta! </font>
            </b></h2>
    </div>

    <form action="/clasify_by_tag/#success" method="POST">
        {% csrf_token %}
        <div style="padding-top:0em;padding-bottom:2em;">
            
            <div style="padding-top: 2em;">
                <a id="success"></a>
                <table style="text-align:center; background:none; border:none;">
                    <tr style="background:none; border:none;">
                        <th style="background:none; border:none;">
                            <img style="border-radius: 2em;" width=300 src={{link}} alt="">
                            <h5 style="text-align:center;padding-top:1em">
                                <font face=Poppins>Este residuo debe ir en la <br><b>{{file}}</b>.</font>
                            </h5>
                        </th>
                        <th style="background:none; border:none; padding-left: 3em;">
                            <div style="text-align: center;">
                                <h4>
                                    <font face="Poppins" color="#0000"><b>Selecciona una etiqueta</b></font>
                                </h4>
                            </div>
                            <div>
                                <select class="form-select" id="images" style="margin-bottom:5px; border: 3px solid #007491; text-align: center;" size="7"
                                    aria-label="size 7 select example" type="number" name="archivo" required>
                                    {% for tag in tags%}
                                    <option value={{tag.file_id}}><font face="Poppins">Etiqueta - {{tag.file_id}}</font></option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="padding-top: 0.5em;">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style=" border: 3px solid rgb(0, 103, 172);">
                                    <font face="Poppins">Clasificar residuo </font>
                                </button>
                            </div>

                        </th>
                    </tr>
                </table>
            </div>

    </form>
    <div class="color4 borde1" style="margin-left: 15em;margin-right: 15em;text-align: center; padding:1em;">
        <h5 style="text-align:center;">
            <font face=Poppins>{{message}}</font>
        </h5>
        <h4 style="text-align:center;">
            <font face=Poppins><b>Material:</b> {{Material}} &nbsp; | &nbsp; <b>Color de empaque:</b> {{Package_color}}
                &nbsp; <br> &nbsp; <b>Tapa de botella:</b> {{Bottle_cap}} &nbsp; | &nbsp; <b>Suciedad:</b> {{Dirtiness}}
                &nbsp; <br> &nbsp;<b>Tipo de empaque:</b> {{Packaging_type}} &nbsp; | &nbsp; <b>Marca:</b>
                {{Brand}}&nbsp; <br> &nbsp; <b>Referencia:</b> {{Reference}} &nbsp; |&nbsp; <b>Capacidad:</b>
                {{Capacity}} &nbsp; | &nbsp;<b>Daño:</b> {{Damage}}</font>
        </h4>
    </div>
</div>

{% endblock content %} 