{% extends 'layouts/base.html' %} 
{% block content %}

<div style="padding-left: 12em; margin-top: 9px;">
    <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=88.5% src="https://i.postimg.cc/BvpB42vF/Logo-Eco-Mind-Barra-Secundaria.png"
        border="0px">
</div>

<div style="padding-top:2em;">

    <div style="text-align:center; margin-top:30px; margin-bottom:24px;padding-left:3em;">
        <h2>
            <font face="Poppins" color="#0000"><b>Etiquetado de residuos</b></font>
        </h2>
    </div>
    <div style="padding-left: 12em; padding-bottom: 6em">

        <form action="/save_tag/" method="POST">
            {% csrf_token %}
            <div class="color4 borde1" style="margin-left: 9em; padding: 0.5em; width: 60%;">

                <input class="form-control" type="file" id="file-input" accept="image/png, image/jpeg, .json"
                    multiple required>
            </div>
            <div style="padding-top:2em;padding-bottom:2em;padding-left: 9em;">

                <table style="text-align:left; background:none; border:none">
                    <tr style="background:none; border:none;">
                        <!-- <th style="background:none; border:none;">
                            <canvas id="micanvas" width="600" height="400"></canvas>
                        </th> -->
                        <th style="background:none; border:none;">
                            <h4>
                                <font face="Poppins" color="#0000"><b>Selecciona un residuo</b></font>
                            </h4>
                            <select class="form-select" id="images"
                                style="margin-bottom:5px; border: 3px solid #007491; text-align: center;" size="7"
                                aria-label="size 7 select example" type="text" name="id_archivo" required></select>
                            <h6>
                                <font face="Poppins" color="#0000"></font>
                            </h6>
                        </th>
                    </tr>
                </table>


                <script type="text/javascript">

                    let test = [];
                    let patron = /(.*\.png)/;
                    let patron2 = /(.*\.jpg)/;
                    let patron3 = /(.*\.json)/;
                    let temp2 = " ";
                    let text = "";
                    let arch = [];
                    let archFinal = [];
                    let nn = 0;
                    let imagen = [];
                    let item2;
                    var imag = new Image();
                    /*var canvas = document.getElementById("micanvas");
                    canvas.style.display = "none";*/

                    //var ctx = canvas.getContext("2d");
                    let prueba = [];
                    document.getElementById("file-input").addEventListener("change", (event) => {
                        //canvas.style.display = "block";
                        archFinal = [];
                        let fileInput = document.getElementById("file-input");
                        let imageContainer = document.getElementById("images");
                        imageContainer.innerHTML = "";
                        console.log("length: " + event.target.files.length);
                        //for(const file of event.target.files){
                        for (var f = event.target.files.length - 1; f >= 0; f--) {
                            const file = event.target.files[f];
                            prueba.push(event.target.files[f]);
                            let figCap = document.createElement("figcaption");
                            figCap.innerText = file.name;
                            text = figCap.innerText;
                            imagen.push(text);
                            imagen.push("nada");
                            arch.push(imagen);
                            imagen = [];

                            //imageContainer.appendChild(figure);    
                        }
                        //}


                        let temp3 = " ";
                        let temp4 = " ";
                        let tempComp;
                        let incl = false;
                        let tag = false;
                        let pos = 0;
                        arch.sort(function (a, b) {
                            if (a[0] > b[0]) {
                                return -1;
                            }
                            if (a[0] < b[0]) {
                                return 1;
                            }
                            return 0;
                        });

                        for (var j = 0; j < arch.length; j++) {

                            console.log(temp3);
                            incl = arch[j][0].startsWith(temp3);
                            if (patron3.exec(arch[j][0])) {
                                tag = true;
                                temp4 = arch[j][0].replace(".json", "")
                                if (temp4.search('-') != -1) {
                                    temp4 = temp4.slice(0, temp4.search('-'));
                                }
                                if (temp3 == temp4) {
                                    if (tag == true) {
                                        archFinal[pos - 1][0] = temp3;
                                        tag = false;
                                    }
                                }
                            }
                            if (incl == true) {
                                console.log("entro a verdad");

                            } else if (incl == false) {
                                tempComp = arch[j];
                                console.log("entro a false");
                                archFinal.push(tempComp);
                                if (patron.exec(arch[j][0])) {
                                    temp3 = arch[j][0].replace(".png", "");
                                } else if (patron2.exec(arch[j][0])) {
                                    temp3 = arch[j][0].replace(".jpg", "");
                                } else if (patron3.exec(arch[j][0])) {
                                    temp3 = arch[j][0].replace(".json", "");
                                }
                                if (temp3.search('-') != -1) {
                                    temp3 = temp3.slice(0, temp3.search('-'));
                                }
                                if (temp3 == temp4) {
                                    console.log("igual y false");
                                    console.log("entro a igual");
                                    if (tag == true) {
                                        archFinal[pos][0] = temp3;
                                    }
                                    temp4 = " ";
                                }
                                console.log(tag);
                                if (tag == false) {
                                    console.log("diferente y false");
                                    console.log(temp3);
                                    console.log(pos);
                                    archFinal[pos][0] = temp3;
                                }

                                tag = false;
                                pos++;
                            }
                        };

                        for (var j = 0; j < archFinal.length; j++) {
                            imageContainer.innerHTML += `<option value="${archFinal[j][0]}">${archFinal[j][0]} <b> - Observación </b> </option>`;

                        };
                        arch = [];

                        temp3 = " ";



                    }, false);

                    document.getElementById("images").addEventListener("change", (event) => {

                        var tester = false;
                        console.log(prueba);
                        var lista = document.getElementById("images");
                        var valorSeleccionado2 = lista.options[lista.selectedIndex].value;
                        var valorSeleccionado = lista.options[lista.selectedIndex].text;
                        console.log("valor " + valorSeleccionado2);
                        ctx.clearRect(0, 0, 1000, 500);
                        let temp5 = "";
                        let reader = new FileReader();
                        for (var u = 0; u < prueba.length; u++) {
                            console.log(prueba[u]);
                            if (patron.exec(prueba[u].name)) {
                                temp5 = prueba[u].name.replace(".png", "");
                                tester = true;
                            } else if (patron2.exec(prueba[u].name)) {
                                temp5 = prueba[u].name.replace(".jpg", "");
                                tester = true;
                            } else if (patron3.exec(prueba[u].name)) {
                                continue;
                            }
                            if (tester == true) {
                                if (temp5.search('-') != -1) {
                                    temp5 = temp5.slice(0, temp5.search('-'));
                                }
                                if (((temp5) == valorSeleccionado2) || ((temp5) == valorSeleccionado2)) {

                                    reader.onload = function () {

                                        imag.src = reader.result;
                                        console.log("reader on load");
                                        console.log("entra a imag");
                                        ctx.drawImage(imag, 0, 0, imag.naturalWidth, imag.naturalHeight );

                                    }
                                    reader.readAsDataURL(prueba[u]);



                                    break;
                                }
                            }
                            tester = false;
                        }





                        valorSeleccionado2 = "";
                        valorSeleccionado = "";

                    }, false);
                </script>
                </select>
            </div>
            <div style="padding-bottom: 15px; padding-left:9em; padding-right: 11em;">
                <table class="table-bordered">
                    <tr style="border: 3px solid #264d53;">
                        <th style="border: 3px solid #264d53;">
                            <h5>
                                <font face="Poppins" color="#0000"><b>Material</b></font> <img width=40
                                    style="margin-left:0.2em;"
                                    src="https://cdn-icons-png.flaticon.com/512/4660/4660970.png" alt="">
                            </h5>
                        </th>
                        <th>
                            <h5>
                                <font face="Poppins" color="#0000"><b>Color empaque</b></font> <img width=35
                                    style="margin-left:0.2em;"
                                    src="https://cdn-icons-png.flaticon.com/512/291/291029.png" alt="">
                            </h5>
                        </th>
                        <th style="border: 3px solid #264d53;">
                            <h5>
                                <font face="Poppins" color="#0000"><b>Tipo empaque</b></font><img width=35
                                    style="margin-left:0.2em;"
                                    src="https://cdn-icons-png.flaticon.com/512/1585/1585223.png" alt="">
                            </h5>

                        </th>
                        <th style="border: 3px solid #264d53;">
                            <h5>
                                <font face="Poppins" color="#0000"><b>Tapa botella</b></font> <img width=35
                                    style="margin-left:0.2em;"
                                    src="https://cdn-icons-png.flaticon.com/512/7030/7030752.png" alt="">
                            </h5>
                        </th>
                        <th style="border: 3px solid #264d53;">
                            <h5>
                                <font face="Poppins" color="#0000"><b>Capacidad (ml)</b> <img width=35
                                        style="margin-left:0.2em;"
                                        src="https://cdn-icons-png.flaticon.com/512/1000/1000227.png" alt=""></font>
                            </h5>

                        </th>
                    </tr>
                    <tr>
                        <td style="border: 3px solid #264d53;">
                            <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                aria-label="size 4 select example" name="material" id="material" required>


                                <option value="PET">PET</option>
                                <option value="PE-HD">PE-HD</option>
                                <option value="PVC">PVC</option>
                                <option value="PE-LD">PE-LD</option>
                                <option value="PP">PP</option>
                                <option value="PS">PS</option>
                                <option value="Other plastic">Otro plástico</option>
                                <option value="Glass">Vidrio</option>
                                <option value="Aluminium">Aluminio</option>
                                <option value="Other metal">Otro metal</option>
                                <option value="Cardboard">Cartón</option>
                                <option value="Paper print">Papel de impresión</option>
                                <option value="Newspaper">Periódico</option>
                                <option value="Magazine">Revista</option>
                                <option value="Tetrapack">Tetrapack</option>
                                <option value="Other">Otro</option>
                            </select>
                        </td>
                        <td style="border: 3px solid #264d53;">
                            <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                aria-label="size 4 select example" name="package_color" id="package_color" required>

                                <option selected value="N/A">N/A (No aplica)</option>
                                <option value="Clear transparent">Transparente claro</option>
                                <option value="White transparent">Blanco tranparente</option>
                                <option value="Red transparent">Rojo transparente</option>
                                <option value="Green transparent">Verde transparente</option>
                                <option value="Brown transparent">Café transparente</option>
                                <option value="Blue transparent">Azúl transparente</option>
                                <option value="Colored transparent">Transparente colorido</option>
                                <option value="White opaque">Blanco opaco</option>
                                <option value="Blue opaque">Azúl opaco</option>
                                <option value="Green opaque">Verde opaco</option>
                                <option value="Brown opaque">Café opaco</option>
                                <option value="Black opaque">Negro opaco</option>
                                <option value="Colored opaque">Opaco colorido</option>
                                <option value="Yellow">Amarillo</option>
                                <option value="Orange">Naranjado</option>
                                <option value="Purple">Morado</option>
                                <option value="Gray">Gris</option>
                                <option value="Other color">Otro color</option>
                            </select>
                        </td>
                        <td style="border: 3px solid #264d53;">
                            <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                aria-label="size 4 select example" name="packaging-type" id="packaging_type"
                                required>

                                <option value="Bottle">Botella</option>
                                <option value="Can">Lata</option>
                                <option value="Bag">Bolsa</option>
                                <option value="Box">Caja</option>
                                <option value="Cup">Frasco</option>
                                <option value="Wrapping">Envoltorio</option>
                                <option value="Lid">Tapa</option>
                                <option value="Sheet">Hoja</option>
                                <option value="Other">Otro</option>
                            </select>
                        </td>
                        <td style="border: 3px solid #264d53;">
                            <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                aria-label="size 4 select example" name="bottle_cap" id="bottle_cap" required>

                                <option selected value="N/A">N/A (No aplica)</option>
                                <option value="TRUE">Sí tiene</option>
                                <option value="FALSE">No tiene</option>
                            </select>
                        </td>

                        <td style="border: 3px solid #264d53;">
                            <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                aria-label="size 4 select example" name="capacity" id="capacity" required>

                                <option selected value="N/A">N/A (No aplica)</option>
                                <option value="0-299">0-299 ml</option>
                                <option value="300-499">300-499 ml</option>
                                <option value="500-999">500-999 ml</option>
                                <option value="1000-1499">1000-1499 ml</option>
                                <option value="1500-3000">1500-3000 ml</option>
                                <option value=">3000">>3000 ml</option>
                            </select>
                        </td>

                    </tr>
                </table>
                <div style="padding-top:2em;">
                    <table class="table-bordered">
                        <tr style="border: 3px solid #264d53">
                            <th style="border: 3px solid #264d53;">
                                <h5>
                                    <font face="Poppins" color="#0000"><b>Suciedad</b></font> <img width=35
                                        style="margin-left:0.2em;"
                                        src="https://cdn-icons-png.flaticon.com/512/2260/2260431.png" alt="">
                                </h5>
                            </th>
                            <th style="border: 3px solid #264d53;">
                                <h5>
                                    <font face="Poppins" color="#0000"><b>Marca</b></font> <img width=35
                                        style="margin-left:0.2em;"
                                        src="https://cdn-icons-png.flaticon.com/512/5130/5130770.png" alt="">
                                </h5>

                            </th>
                            <th style="border: 3px solid #264d53;">
                                <h5>
                                    <font face="Poppins" color="#0000"><b>Referencia</b></font> <img width=35
                                        style="margin-left:0.2em;"
                                        src="https://cdn-icons-png.flaticon.com/512/3940/3940190.png" alt="">
                                </h5>

                            </th>
                            <th style="border: 3px solid #264d53;">
                                <h5>
                                    <font face="Poppins" color="#0000"><b>Daño</b></font> <img width=35
                                        style="margin-left:0.2em;"
                                        src="https://cdn-icons-png.flaticon.com/512/1739/1739833.png" alt="">
                                </h5>
                            </th>

                        </tr>
                        <tr style="border: 3px solid #264d53;">
                            <td style="border: 3px solid #264d53;">
                                <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                    aria-label="size 4 select example" name="dirtiness" id="dirtiness" required>

                                    <option value="Clean">Limpio</option>
                                    <option value="Small">Poca suciedad</option>
                                    <option value="Medium">Suciedad media</option>
                                    <option value="High">Mucha suciedad</option>
                                </select>
                            </td>
                            <td style="border: 3px solid #264d53;">
                                <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                    aria-label="size 4 select example" name="brand" id="brand" required>

                                    <option value="N/A">N/A (No aplica)</option>
                                    <option value="Coca-cola">Coca-Cola</option>
                                    <option value="Bavaria">Bavaria</option>
                                    <option value="Postobon">Postobón</option>
                                    <option value="Colanta">Colanta</option>
                                    <option value="Alpina">Alpina</option>
                                    <option value="Pepsi">Pepsi</option>
                                    <option value="Nacional de chocolates">Nacional de chocolates</option>
                                    <option value="Detodito">Detodito</option>
                                    <option value="Doritos">Doritos</option>
                                    <option value="Gatorade">Gatorade</option>
                                    <option value="Cheesetris">Cheesetris</option>
                                    <option value="Manimoto">Manimoto</option>
                                    <option value="Margarita">Margarita</option>
                                    <option value="Tosh">Tosh</option>
                                    <option value="Other">Otra marca</option>
                                </select>
                            </td>
                            <td style="border: 3px solid #264d53;">
                                <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                    aria-label="size 4 select example" name="reference" id="reference" required>

                                    <option selected value="N/A">N/A (No aplica)</option>
                                    <option value="Zero">Zero</option>
                                    <option value="Original">Original</option>
                                    <option value="Pony Malta">Pony Malta</option>
                                    <option value="Manzana">Manzana</option>
                                    <option value="Yogurt">Yogurt</option>
                                    <option value="Bonyurt">Bonyurt</option>
                                    <option value="Pepsi">Pepsi</option>
                                    <option value="Chocolatina Jet">Chocolatina Jet</option>
                                    <option value="Other">Otra referencia</option>
                                </select>
                            </td>

                            <td style="border: 3px solid #264d53;">
                                <select class="form-select" style="border: 3px solid #007491;" type="text" size="4"
                                    aria-label="size 4 select example" name="damage" id="damage" required>

                                    <option value="N/A">N/A</option>
                                    <option value="Mixed">Semi-dañado</option>
                                    <option value="Damaged">Dañado</option>
                                    <option value="Undamaged">No dañado</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="padding-left: 34.1em; padding-top: 2em;">
                <button type="submit" class="btn btn-primary btn-lg" style=" border: 3px solid rgb(0, 103, 172);">
                    <font face="Poppins">Etiquetar residuo </font>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %} 