{% extends 'layouts/base.html' %} 
{% block content %}

<div style="padding-left: 12em; margin-top: 9px;">
    <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=88.5% src="https://i.postimg.cc/BvpB42vF/Logo-Eco-Mind-Barra-Secundaria.png"
        border="0px">
</div>
<div style="padding-top:2em;">
    <div>
        <h2 style="text-align:center; padding-left:1em;"><b>
                <font face=Poppins> ¡Bienvenid@ a la sección <b class="color1"> Etiquetado de Residuos! </font>
            </b></h2>
    </div>
    <div style="text-align:center;padding-top:1em; padding-bottom: 2em;">
        <img class="box" style="margin-left:0px;" width="170" alt="WhatsApp Logo" src="https://i.postimg.cc/sfc4pTbD/etiqueta.png" />
        <div style="padding-top: 1em;"><a href="../tagging/#iniciar" class="btn btn-primary btn-lg"
                style=" border: 3px solid rgb(0, 103, 172);">
                <font face="Poppins">Iniciar etiquetado</font>
            </a> </div>
    </div>

    <div style="padding-bottom: 15px; padding-left:13em; padding-right: 13em;">
        <div class="color4 borde1" style="padding: 1em;">
            <div>
                <h4 align="center" class="center titulo5 mt-4 mb-4">
                    <font face="Poppins" color="#0000">En esta sección podrás crear etiquetas
                        para la clasificación de residuos en <b class="color1">Eco</b><b
                            class="color2">Mind!</b> Recuerda que con la creación de cada nueva etiqueta serás
                        recompensad@ con una generosa cantidad de puntos que podrás utilizar para reclamar
                        increíbles incentivos.</font>
                </h4>
                <h2 align="center" class="center titulo5 mt-4 mb-4">
                    <font face="Poppins" color="#0000">😎 ¡Grandioso!, ¿cierto? 😎</font>
                </h2>
                <a id="iniciar"></a>
            </div>
        </div>
    </div>
    <div style="text-align:center; margin-top:30px; margin-bottom:24px;padding-left:0em;">

        <h2>
            <font style="padding-bottom: 1em;" face="Poppins" color="#0000"><b>Etiquetado de residuos</b></font>
        </h2>
        <!-- <div style="padding-bottom: 0.5em;"><a href="../etiquetado/#siguiente" class="btn btn-primary btn-lg"
                style=" border: 3px solid rgb(0, 103, 172);">
                <font face="Poppins">Siguiente</font>
            </a> </div> -->
        <!-- <img width="35%"
            src="https://i.postimg.cc/wxbxNhn4/Selecciona-la-carpeta-ra-z-donde-est-n-las-dem-s-carpetas-2-1.png"
            alt=""> -->
    </div>

    <div style="padding-left: 0em; padding-bottom: 6em">

        <div style="padding-bottom: 15px; padding-left:13em; padding-right: 13em;">
            <div style="text-align: center; padding-top: 1em">
                1. <a href="https://github.com/SASVAR-Project/Ecomind/blob/main/docs/guia_de_etiquetado.pdf"
                    target="_blank" class="btn btn-primary btn-lg" style=" border: 3px solid rgb(0, 103, 172);">
                    <font face="Poppins">
                        <h6>Descargar <br> Guía de Etiquetado</h6>
                    </font>
                </a>
                &nbsp;&nbsp;


                2. <a href="../create_tag/" class="btn btn-primary btn-lg"
                    style=" border: 3px solid rgb(0, 103, 172);">
                    <font face="Poppins">Realizar etiquetado</font>
                </a>
            </div>

        </div>
        <a id="siguiente"></a>
    </div>


{% endblock content %} 