{% extends 'layouts/base.html' %} 
{% block content %}

<style>
.creditos {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}
</style>

<div style="padding-left: 12em; margin-top: 9px;">
    <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=88.5% src="https://i.postimg.cc/BvpB42vF/Logo-Eco-Mind-Barra-Secundaria.png"
        border="0px">
</div>

<div style="padding-top:2em;">
    <div>
        <h2 align="center" style="padding-bottom:0.5em;"><b>
                <h2 style="text-align:center;"><b>
                        <font face=Poppins> ¡Bienvenid@ a la sección <b class="color1"> Créditos! </font>
                    </b></h2>

        </h2>
    </div>
   

    <div style="padding-bottom: 15px; padding-left:13em; padding-right: 13em;">
        <div class="color4 borde1" style="padding: 1em;">
            <div>
                <h4 align="center" class="center titulo5 mt-4 mb-4">
                    <font face="Poppins" color="#0000">En esta sección damos el crédito de propiedad de las imágenes usadas a aquellos que por derecho lo poseen. A continuación presentamos las imágenes con sus respectivas atribuciones.
                </h4>
                
            </div>
        </div>
    </div>

    



    <div class="creditos" style="text-align:center; padding-left: 15em; padding-top: 25px; padding-bottom:25px;">
        
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/4660/4660970.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/PrM9zcPP/3320628.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/q7PT9jv1/tiempo.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/reciclaje" title="reciclaje iconos">Reciclaje iconos creados por Flat Icons - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/reciclar" title="reciclar iconos">Reciclar iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/examen" title="examen iconos">Examen iconos creados por Freepik - Flaticon</a>

        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>

        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/pVzgyyvQ/1140033.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/HkhBywmC/tienda.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/708/708503.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/regalo" title="regalo iconos">Regalo iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/tienda" title="tienda iconos">Tienda iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/verde" title="verde iconos">Verde iconos creados por Freepik - Flaticon</a>

        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>

        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/1828/1828490.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/5769/5769344.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/sfc4pTbD/etiqueta.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/cerrar-sesion" title="cerrar sesión iconos">Cerrar sesión iconos creados por Pixel perfect - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/reciclar" title="reciclar iconos">Reciclar iconos creados por juicy_fish - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/etiqueta" title="etiqueta iconos">Etiqueta iconos creados por Eucalyp - Flaticon</a>

        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>

        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/291/291029.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/1585/1585223.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/7030/7030752.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/colores" title="colores iconos">Colores iconos creados por Nikita Golubev - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/lista-de-empaque" title="lista de empaque iconos">Lista de empaque iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/tapa-de-botella" title="tapa de botella iconos">Tapa de botella iconos creados por Eucalyp - Flaticon</a>

        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/1000/1000227.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/2260/2260431.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/5130/5130770.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/litro" title="litro iconos">Litro iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/suciedad" title="suciedad iconos">Suciedad iconos creados por Vitaly Gorbachev - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/marca" title="marca iconos">Marca iconos creados por Freepik - Flaticon</a>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>

        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/3940/3940190.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://cdn-icons-png.flaticon.com/512/1739/1739833.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/TYxBbG2z/2544087.png" alt="">

        <a href="https://www.flaticon.es/iconos-gratis/investigacion" title="investigación iconos">Investigación iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/roto" title="roto iconos">Roto iconos creados por Eucalyp - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/casa" title="casa iconos">Casa iconos creados por Freepik - Flaticon</a>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>

        <img style="margin-left:4.7em;" width="150" src="https://img.freepik.com/vector-gratis/coleccion-bolsas-tela-planas_23-2149019954.jpg?w=996&t=st=1671831812~exp=1671832412~hmac=75f70ef1d9605fbde46103efb8bcd161cf11f7c5b3a29a7da9b15006f61fda10" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/PrM9zcPP/3320628.png" alt="">
        <img style="margin-left:7em;" width="70" src="https://i.postimg.cc/q7PT9jv1/tiempo.png" alt="">

        <div><a href="https://www.freepik.es/vector-gratis/coleccion-bolsas-tela-planas_15695306.htm">Imagen de Freepik</a></div>

        <a href="https://www.flaticon.es/iconos-gratis/reciclar" title="reciclar iconos">Reciclar iconos creados por Freepik - Flaticon</a>

        <a href="https://www.flaticon.es/iconos-gratis/examen" title="examen iconos">Examen iconos creados por Freepik - Flaticon</a>

        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        <div style="padding-top:5em"></div>
        
    </div>

</div>

{% endblock content %} 