{% extends 'layouts/base.html' %} 
{% block content %}

<div style="padding-left: 12em; margin-top: 9px;">
    <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=88.5% src="https://i.postimg.cc/BvpB42vF/Logo-Eco-Mind-Barra-Secundaria.png"
        border="0px">
</div>
<div style="padding-top:2em;">
    <div>
        <h2 align="center" style="padding-bottom:0.5em;"><b>
                <font face="Poppins"> {{name}}, ¡Bienvenid@ a <b class="color1">Eco</b><b class="color2">Mind!
                    </b></font>
        </h2>
    </div>

    <div style="padding-bottom: 15px; padding-left:13em; padding-right: 13em;">
        <div class="color4 borde1" style="padding: 1em;">
            <div>
                <h4 align="center" class="center titulo5 mt-4 mb-4">
                    <font face="Poppins" color="#0000">Gracias por contar con nosotros en la búsqueda de un futuro
                        más sostenible y ecológicamente amigable.</font>
                </h4>
                <h4 align="center" class="center titulo5 mt-4 mb-4">
                    <font face="Poppins" color="#0000">A través de esta página podrás realizar un seguimiento de los
                        puntos que has obtenido 🎁 y revisar la cantidad de residuos etiquetados y clasificados usando el sistema ♻️
                         <b class="color1">Eco</b><b class="color2">Mind</b>.
                    </font>
                </h4>
            </div>
        </div>
    </div>

    <div style="padding-left: 12em; padding-top: 25px; padding-bottom:25px;">






        <table style="text-align:center">
            <tr>
                <th><a id="etiquetado1" href="../tagging/">
                        <img class="box" id="etiquetado2" width="150" alt="WhatsApp Logo"
                            src="https://i.postimg.cc/sfc4pTbD/etiqueta.png" /></a></th>
                <th><a id="clasificado1" href="../clasify/">
                        <img class="box" id="clasificado2" width="150" alt="WhatsApp Logo"
                            src="https://i.postimg.cc/PrM9zcPP/3320628.png" /></a></th>
                <th><a id="actividad1" href="../my_activity/">
                        <img class="box" id="actividad2" width="150" alt="WhatsApp Logo"
                            src="https://i.postimg.cc/q7PT9jv1/tiempo.png" /></a></th>

                <th><a id="puntos1" href="../my_points/">
                        <img class="box" id="puntos2" width="150" alt="WhatsApp Logo"
                            src="https://i.postimg.cc/pVzgyyvQ/1140033.png" /></a></th>


                <th><a id="filtrar1" href="../store/">
                        <img class="box" id="filtrar2" width="150" alt="WhatsApp Logo"
                            src="https://i.postimg.cc/HkhBywmC/tienda.png" /></a></th>

            </tr>
            <tr>
                <th style="padding-left:1.5em; padding-top: 1em; font-size: 23;">
                    <font face="Poppins" color="#0000" id="etiquetado">Etiquetado <br>de residuos</font>
                </th>
                <th style="padding-left:1.5em; padding-top: 1em; font-size: 23;">
                    <font face="Poppins" color="#0000" id="clasificado">Clasificado <br>de residuos</font>
                </th>
                <th style="padding-left:1.5em; font-size: 23;">
                    <font face="Poppins" color="#0000" id="actividad">Mi actividad</font>
                </th>

                <th style="padding-left:1.5em; font-size: 23;">
                    <font face="Poppins" color="#0000" id="puntos">Mis Puntos</font>
                </th>
                
                <th style="padding-left:1.5em; font-size: 23;">
                    <font face="Poppins" color="#0000" id="filtrar">Tienda</font>
                </th>
            </tr>


        </table>

    </div>
    <div style="padding-left:10em; padding-right: 13em; padding-top: 3em; padding-bottom: 4em;">
        <table>
            <tr>
                <th><img width="100%" src="https://i.postimg.cc/66kCL0b9/Frase-Eco-Mind.png"></th>
                <th><img width="550" 
                        src="https://i.postimg.cc/VLhTcQhw/Logo-Eco-Mind-Original.png"></th>
            </tr>

        </table>
    </div>
</div>

{% endblock content %} 